/* =========================== GLOABAL LOADER =========================== */

.global-loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-text {
  margin-top: 12px;
  font-size: 14px;
  color: #444;
}